.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  16px 20px;
    width: 100%;
  }
  
  .title-left {
    font-weight: bold;
    font-size: 18px;
  }
  
  /* .title-right {
    margin-left: 800px; 
  } */
  
  .action-bar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 16px;
  }
  /* 
  .full-width {
     
  } */
  
  .card-body {
    margin-top: 16px;
  }
  
  .user-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 8px;
    margin-left: 50px;
  }
  
  .profile-photo-container {
    text-align: center;
    margin: 16px 0;
  }
  
  .header-title
  {
    margin-left: 1px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    align-items: center;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .details-row {
    /* margin-left: 40px; */
    align-items: center;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 2px 10px;
  }
  
  .details-row strong {
    flex: 0 0 40%;
    font-weight: 600;
  }
  /* .details{
    align-items: center;
    text-align: center;
  } */
  
  .details-row span {
    flex: 1;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .buttons button {
    width: 48%;
  }
  