<div class="login-container">
    <mat-card class="login-card">
      <div class="login-header">
        <img src="../../../../assets/indianOilLogo.png" alt="IndianOil Logo" class="logo">
        <!-- <h2>IndianOil</h2> -->
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>IOCL ID</mat-label>
          <input matInput formControlName="userId" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
       
        
        <mat-form-field appearance="fill">
          <mat-label>Captcha</mat-label>
          <input matInput formControlName="captchaInput" required>
          <div matSuffix class="captcha-container">
            <div class="captcha-text">{{ captchaText}}</div>
            <button mat-icon-button (click)="reloadCaptcha()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" style="width: 50%;">Sign in</button>
      </form>
    </mat-card>
  </div>
