<div class="profile-container">
  <mat-card class="profile-card">
    <div class="profile-photo-container">
      <img src="../../../../assets/profile.webp" alt="Profile Photo" class="profile-image">
    </div>
    <mat-card-content>
      <div class="profile-field">      
          <strong>Username:</strong>
          <span>{{ profile?.EmpName }}</span> 
      </div>
      <div class="profile-field">    
          <strong>Designation:</strong>
          <span>{{ profile?.Designation }}</span>   
      </div>
      <div class="profile-field">       
          <strong>Role:</strong>
          <span>{{ profile?.Role }}</span>      
      </div>
      <div class="profile-field">   
          <strong>Location Name:</strong>
          <span>{{ profile?.locationName }}</span>
       
      </div>
    </mat-card-content>
  </mat-card>
</div>
