<!-- <p>iocl-employee works!</p> -->
 <!-- <mat-toolbar class="custom-toolbar">
  <img src="assets/indianOilLogo.png" alt="IndianOil Logo" class="logo">
  <span class="title">INDIAN OIL</span>
  <span class="spacer"></span>


  <button mat-icon-button color="primary" [matMenuTriggerFor]="profileMenu" class="profile-button">
    <mat-icon class="profile-image">account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navigate('/ioclEmployee/profile')">
      Profile
    </button>
    <button mat-menu-item (click)="logout()">
      Logout
    </button>
  </mat-menu>
  <div class="profile-details">
    <span class="profile-name">{{ empData.EmpName }}</span>
    <span class="profile-info">{{ empData.role }} | {{ empData.Designation }}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isMenuOpened">
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <mat-list-item *ngFor="let menu of menus" [routerLink]="menu.route">
          <mat-icon>{{ menu.icons }}</mat-icon>
          <span>{{ menu.menuName }}</span>
        </mat-list-item>
      </mat-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button *ngIf="!isMenuOpened" mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DispatchApp</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 
 -->
 <mat-toolbar class="custom-toolbar">
  <img src="assets/indianOilLogo.png" alt="IndianOil Logo" class="logo">
  <span class="title">INDIAN OIL</span>
  <span class="spacer"></span>


  <button mat-icon-button color="primary" [matMenuTriggerFor]="profileMenu" class="profile-button">
    <mat-icon class="profile-image">account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navigate('/ioclEmployee/profile')">
      Profile
    </button>
    <button mat-menu-item (click)="logout()">
      Logout
    </button>
  </mat-menu>
  <div class="profile-details">
    <span class="profile-name">{{ empData.EmpName }}</span>
    <span class="profile-info">{{ empData.role }} | {{ empData.Designation }}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isMenuOpened">
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    
    <!-- <mat-nav-list>
      <mat-list>
        <!-- Main Menu Items -->
        <!-- <mat-list-item *ngFor="let menu of menus" [routerLink]="menu.route">
          <mat-icon>{{ menu.icons }}</mat-icon>
          <span>{{ menu.menuName }}</span> --> 
    
          <!-- Child Menus -->
          <!-- <mat-nav-list *ngIf="menu.childMenus?.length>0" class="child-menu-list">
            <mat-list>
              <mat-list-item *ngFor="let childMenu of menu.childMenus" [routerLink]="childMenu.route">
                <mat-icon>{{ childMenu.icons }}</mat-icon>
                <span>{{ childMenu.menuName }}</span>
              </mat-list-item>
            </mat-list>
          </mat-nav-list>
        </mat-list-item>
      </mat-list>
    </mat-nav-list> -->
    
    
    
     

    <!-- <mat-nav-list>
      <mat-list>
        <mat-list-item *ngFor="let menu of menus" [routerLink]="menu.route">
          <mat-icon>{{ menu.icons }}</mat-icon>
          <span>{{ menu.menuName }}</span>
        </mat-list-item>
      </mat-list>

    </mat-nav-list> -->

    <!-- <mat-nav-list> -->
      <!-- Loop through the parent menus -->
      <!-- <ng-container *ngFor="let menu of menus">
        <mat-list-item [routerLink]="menu.route">
          <mat-icon>{{ menu.icons }}</mat-icon>
          <span>{{ menu.menuName }}</span>
        </mat-list-item> -->
        
        <!-- If the menu has child menus, render them in a nested list -->
        <!-- <mat-nav-list *ngIf="menu.childMenus && menu.childMenus.length > 0" class="child-menu">
          <mat-list-item *ngFor="let childMenu of menu.childMenus" [routerLink]="childMenu.route" class="child-item">
            <mat-icon>{{ childMenu.icons }}</mat-icon>
            <span>{{ childMenu.menuName }}</span>
          </mat-list-item>
        </mat-nav-list>
      </ng-container>
    </mat-nav-list> -->



    <mat-nav-list>
      <ng-container *ngFor="let menu of menus; let i = index">
        <!-- Parent menu item -->
        <mat-list-item (click)="toggleSubmenu(i)" [routerLink]="menu.route">
          <mat-icon>{{ menu.icons }}</mat-icon>
          <span>{{ menu.menuName }}</span>
        </mat-list-item>
    
        <!-- Show child menus if the current parent is clicked -->
        <mat-nav-list *ngIf="openIndex === i && menu.childMenus && menu.childMenus.length > 0" class="child-menu">
          <mat-list-item *ngFor="let childMenu of menu.childMenus" [routerLink]="childMenu.route" class="child-item">
            <mat-icon>{{ childMenu.icons }}</mat-icon>
            <span>{{ childMenu.menuName }}</span>
          </mat-list-item>
        </mat-nav-list>
      </ng-container>
    </mat-nav-list>
    
    
    
    
    
    
    
    
    
    
  
  
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button *ngIf="!isMenuOpened" mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DispatchApp</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>