/* mat-form-field {
    
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 20px;
  }
.form-card{
    display: flex;
    justify-content: space-evenly;
    overflow:auto;
}

.header-cell {
  font-weight: 600; 
  font-size: 1rem;
} */

/* .form-card {
  margin: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.results-section {
  margin-top: 20px;
} */

.download-button-container {
  margin-top: 10px;
  text-align: center;
}
/* 
.no-data-message {
  margin-top: 20px;
  color: gray;
  font-style: italic;
} */
