/* mat-form-field {
    
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 20px;
  }
.form-card{
    display: flex;
    justify-content: space-evenly;
    overflow:auto;
}

.header-cell {
  font-weight: 600; 
  font-size: 1rem;
} */

  