
   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.otp-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.otp-container input {
    width: 40px;
    text-align: center;
    font-size: 18px;
}

.captcha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.captcha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  15px;
    border-radius: 4px;
    margin-top: 50x;
    width: 50%;
    font-size: 20px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.links a {
    color: #007bff;
    cursor: pointer;
    border: 2px solid lightblue;
    padding: 10px;
}


.error-message {
  color: red;
  margin-bottom: 10px;
}

  