<!-- <div class="login-container">
  <div class="login-card">
      <img src="../../../../assets/indianOilLogo.png" alt="IndianOil Logo" class="logo">
      <h2>Verify OTP</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" readonly>
          </mat-form-field>

    

          <div class="otp-container">
            <input *ngFor="let otpControl of otpControls; let i = index"
                   type="text" 
                   maxlength="1" 
                   [formControl]="otpControl" 
                   (input)="onOtpInput($event, i)" 
                   (keydown)="onOtpKeyDown($event, i)">
          </div>
          

       
          <mat-form-field appearance="fill">
            <mat-label>Captcha</mat-label>
            <input matInput formControlName="captcha" required>
            <div matSuffix class="captcha-container">
              <div class="captcha-text">{{ captchaText }}</div>
              <button mat-icon-button (click)="generateCaptcha()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit"  style="width: 100%;" >Login</button>
      </form>

      <div class="links">
          <a (click)="changeMobileNumber()">Change Number</a>
          <a (click)="resendOtp()">Resend OTP</a>
      </div>
  </div>
</div>
      -->














    
      <div class="login-container">
        <div class="login-card">
          <img src="../../../../assets/indianOilLogo.png" alt="IndianOil Logo" class="logo">
          <h2>Verify OTP</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" readonly>
            </mat-form-field>
      
            <div class="otp-container">
              <input *ngFor="let otpControl of otpControls; let i = index"
                     type="text" 
                     maxlength="1" 
                     [formControl]="otpControl" 
                     (input)="onOtpInput($event, i)" 
                     (keydown)="onOtpKeyDown($event, i)">
            </div>
      
       
      
            <mat-form-field appearance="fill">
              <mat-label>Captcha</mat-label>
              <input matInput formControlName="captcha" required>
              <div matSuffix class="captcha-container">
                <div class="captcha-text">{{ captchaText }}</div>
                <button mat-icon-button type="button" (click)="generateCaptcha()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
            </mat-form-field>
            <div *ngIf="otpError" class="error-message">
              {{ otpError }}
            </div>
            
            
      
            <button mat-raised-button color="primary" type="submit" style="width: 100%;">Login</button>
          </form>
      
          <div class="links">
            <a (click)="changeMobileNumber()">Change Number</a>
            <a (click)="resendOtp()">Resend OTP</a>
          </div>
        </div>
      </div>
   