/* .verify-otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .verify-otp-card {
     padding: 20px;
    width: 350px;
    text-align: center; 
  }
  
  .logo {
    width: 200px;
    margin: 0 auto 20px;
  }
  
  h2 {
    margin: 0 0 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .captcha-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .captcha-text {
    font-size: 18px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
  }
  
  .additional-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .otp-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   */
   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.otp-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.otp-container input {
    width: 40px;
    text-align: center;
    font-size: 18px;
}

.captcha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.captcha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f0f0f0; */
    padding:  15px;
    border-radius: 4px;
    /* font-weight: bold; */
    margin-top: 50x;
    width: 50%;
    font-size: 20px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.links a {
    color: #007bff;
    cursor: pointer;
    border: 2px solid lightblue;
    padding: 10px;
   /* // border-radius: 20%; */
}

  