/* .profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
  }
   */
  /* CSS for the small-card */
  .small-card {
    width:50%; /* Adjust width as needed */
    margin: 5px auto;
    /* padding: 20px; */
  }
  
  /* Profile Photo Container */
  .profile-photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .profile-image {
    width: 70px; /* Adjust the size as needed */
    /* height: 100px; */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  /* Form Row */
  .form-row {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 15px; */
  }
  
  /* mat-form-field styles */
  /* mat-form-field {
    width: 100%;
  } */
  
  mat-label {
    font-weight: 500;
    color: #555;
  }
  
  mat-input-element,
  mat-select {
    font-size: 14px;
  }
  
  /* Error message styling */
  mat-error {
    color: #f44336;
    font-size: 12px;
  }
  
  /* Hint message styling */
  mat-hint {
    color: #888;
    font-size: 12px;
  }
  
  /* Submit Button Styling */
  .add-button-container {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 20px; */
  }
  
  button[type="submit"] {
    /* padding: 10px 20px; */
    width: 100%;
    font-weight: 500;
  }
  /* Adjust the width of mat-form-field */
  mat-form-field {
    width: 100%; /* Full width of the container */
    /* Adjust this value to control the maximum width */
  }
  
 