<div class="login-container">
    <mat-card>
      <div class="login-header">
        <img src="../../../../assets/indianOilLogo.png" alt="IndianOil Logo" class="logo">
      </div>
      <h2 style="color: black; margin-top: 25px; margin-bottom: 10px;">Login for</h2>
      <button mat-raised-button color="primary" class="login-button" routerLink="/ioclEmp">IOCL Employee</button>
      <button mat-raised-button color="primary" class="login-button" routerLink="/disEmpReqOtp">Dispatch Employee</button>
    </mat-card>
  </div>
