.logo {
  width:60px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.profile-button {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  font-weight: bold;
  font-size: 16px;
}

.profile-info {
  font-size: 14px;
  color: #757575;
}

.main-content {
  padding: 16px;
}

mat-sidenav {
  width: 250px;
}

.example-container {
  height: 85vh;
}

.mat-toolbar.mat-primary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mat-sidenav-content mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5; /* A light background color for contrast */
}

.mat-sidenav-content {
  padding-left:0px; /* Adjusted padding for the sidenav */
}

.list-icon {
  margin-right: 16px;
  font-size: 24px;
}

.list-text {
  font-size: 16px;
}
.child-item {
  padding-left: 40px; /* Indents the child items */
}

.mat-nav-list a {
  display: flex;
  align-items: center; /* Ensures icons and text are on the same line */
}
