.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .login-card {
    padding: 20px;
    text-align: center;
    height: 500px;
    width: 350px;
  }
  
  .logo {
    width: 250px;
    margin: 0 auto 20px;
  }
  
  h2 {
    margin: 0 0 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  .error-message {
    color: #ff4d4d; /* A soft red color to indicate an error */
    background-color: #ffe6e6; /* A light red background for visibility */
    border: 1px solid #ff1a1a; /* A slightly darker red border */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .error-message::before {
    content: "⚠️ "; /* Adds a warning icon before the message */
    margin-right: 5px;
  }
  
  